-i https://pypi.org/simple
aiohttp==3.8.4
aiosignal==1.3.1; python_version >= '3.7'
anyio==3.6.2; python_full_version >= '3.6.2'
async-timeout==4.0.2; python_version >= '3.6'
attrs==23.1.0; python_version >= '3.7'
charset-normalizer==3.1.0; python_version >= '3.7'
click==8.1.3; python_version >= '3.7'
colorama==0.4.6
fastapi==0.95.1
fastapi-utils==0.2.1
frozenlist==1.3.3; python_version >= '3.7'
greenlet==2.0.2; python_version >= '3' and platform_machine == 'aarch64' or (platform_machine == 'ppc64le' or (platform_machine == 'x86_64' or (platform_machine == 'amd64' or (platform_machine == 'AMD64' or (platform_machine == 'win32' or platform_machine == 'WIN32')))))
h11==0.14.0; python_version >= '3.7'
httptools==0.5.0
idna==3.4; python_version >= '3.5'
multidict==6.0.4; python_version >= '3.7'
nbt==1.5.1
pydantic==1.10.7; python_version >= '3.7'
python-dotenv==1.0.0
python-nbt==1.2.0
pyyaml==6.0
sniffio==1.3.0; python_version >= '3.7'
sqlalchemy==1.4.48; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
starlette==0.26.1; python_version >= '3.7'
typing-extensions==4.5.0; python_version >= '3.7'
uvicorn[standard]==0.22.0
watchfiles==0.19.0
websockets==11.0.2
yarl==1.9.2; python_version >= '3.7'
